* {
  font-family: arial, sans-serif;
}

body {
  width: 70%;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  justify-content: center;
  margin: 5px auto;
}

h1, .title-legend, h2 {
  text-align: center;
}

.title-legend {
  margin: 5px 0 30px 0;
}

.caption {
  text-align: center;
  margin: 20px 0 0 0;
}

.tribute-info > ul > li {
  align-text: center;
  padding: 1rem 0;
  max-width: 100%
}

.bold {
  font-weight: 700;
}
